# Virtual Environment
.venv/
venv/
env_agent/ # Jika Anda pernah menggunakan nama ini

# File Environment Variables Lokal
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor specific
.vscode/
.idea/

# File Jupyter Notebook checkpoints
.ipynb_checkpoints/

# File secrets.toml lokal (jika Anda membuatnya untuk tes)
.streamlit/secrets.toml

# File media yang diunduh atau diproses sementara (sesuaikan)
temp_downloads/
temp_frames/
temp_audio/
